* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: red;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    margin-top: -300px;
}

.container {
    background: rgb(212, 199, 199);
    margin: 50px;
    padding: 25px;
    border-radius: 25px;
}

.title {
    text-align: center;
}

.title span {
    color: #F2EBD3;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
}

.status span {
    color: grey;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: grey;
}

.game-grid {
    background: rgb(104, 94, 94);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px;
    margin-top: 60px;
    border-radius: 20px;
}

.game-cell {
    background: rgb(212, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 145px;
    width: 150px;
    border-radius: 10px;
}

.x,
.o {
    cursor: default;
}

.x::after {
    content: '×';
    font-size: 100px;
}

.o::after {
    content: '○';
    color: #F2EBD3;
    font-size: 125px;
}

.won::after {
    background: url(https://media.giphy.com/media/c1R3XcUXVWAFy/giphy.gif) repeat 0 0;
    height: 145px;
    width: 150px;
}

@media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }
    .game-cell {
        height: 150px;
        width: 150px;
    }
    .x::after {
        font-size: 150px;
    }
    .o::after {
        font-size: 175px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }
    .game-cell,
    .won::after {
        height: 100px;
        width: 100px;
    }
    .x::after {
        font-size: 100px;
    }
    .o::after {
        font-size: 125px;
    }
}

.animation-animated {
    background: black url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}