* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    color: red;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    /**/
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: none;
}

.background {
    background-image: url(https://source.unsplash.com/1600x900/?day);
}

#foreground {
    background-image: url(https://source.unsplash.com/1600x900/?night);
    mask-image: linear-gradient(var(--direction), rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 60%);
    mask-position: 50% 50%;
}

.container {
    background: rgb(212, 199, 199);
    border-radius: 25px;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

.title {
    text-align: center;
}

.title span {
    color: #F2EBD3;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
}

.status span {
    color: red;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: grey;
}

.game-grid {
    background: rgb(104, 94, 94);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px;
    margin-top: 50px;
    border-radius: 20px;
    align-items: center;
}

.game-cell {
    background: rgb(212, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 145px;
    width: 150px;
    border-radius: 12px;
}

.x,
.o {
    cursor: default;
}

.x::after {
    content: '×';
    color: red;
    font-size: 100px;
}

.o::after {
    content: '○';
    color: #F2EBD3;
    font-size: 100px;
}

.won::after {
    background: url(https://media.giphy.com/media/c1R3XcUXVWAFy/giphy.gif) repeat 0 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }
    .game-cell {
        height: 150px;
        width: 150px;
    }
    .x::after {
        font-size: 150px;
    }
    .o::after {
        font-size: 175px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }
    .game-cell,
    .won::after {
        height: 150px;
        width: 150px;
    }
    .x::after {
        font-size: 100px;
    }
    .o::after {
        font-size: 125px;
    }
}